* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    margin: 80px 15px;
    border-radius: 8px;
    width: 260px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
section {
    height: 350px;
    padding: 40px;
    font-family: 'Lexend Deca', sans-serif;
    filter: blur(0.1px);
}
.sedans {
    background-color: hsl(31, 77%, 52%);
}
.suvs {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
}
img {
    transform: scale(0.78) translateX(-10px);
}
h2 {
    margin: 18px 0;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 31px;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    line-height: 20px;
}
a {
    margin-top: 20px;
    display: block;
    border-radius: 50px;
    width: 118px;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    font-size: 12px;
    line-height: 38px;
}
.sedansButton {
    color: hsl(31, 77%, 52%);
}
.suvsButton {
    color: hsl(184, 100%, 22%);
}
.luxuryButton {
    color: hsl(179, 100%, 13%);
}
a:hover {
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
    background-color: transparent;
    line-height: 32px;
}

@media (min-width: 735px) {
    main {
        margin: 160px 0;
        width: 732px;
        flex-direction: row;
    }
    section {
        height: 400px;
    }
    a {
        margin-top: 68px;
    }
}